@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Amera CRM v2.2</h1>
    <p class="lead">This is my First WorkFolw App which is under cinstructions.</p>
    <p><a href="@Url.Action("Index","MyWorkflow")" class="btn btn-primary btn-lg">See your Tasks &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Timesheet</h2>
        <p>
            Manage your timesheet.
        </p>
        <p><a class="btn btn-danger" href="@Url.Action("Index","Timesheet")">Create Timesheet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Workflow</h2>
        <p>To add, remove, and update Workflow .</p>
        <p><a class="btn btn-info" href="@Url.Action("Index","WorkflowV")">Creat Workflow &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Filing</h2>
        <p>You can easily find a file for your applications.</p>
        <p><a class="btn btn-warning" href="@Url.Action("UploadFiles","File")">Upload Documents &raquo;</a></p>
    </div>
</div>